@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");
body {
  background-color: rgb(173, 173, 173);
  color: whitesmoke;
  font-family: cursive;
}

.core.day {
  background-image: url(Background/after_noon.webp);
  background-size: 100% 100%;
  height: 120vh;
}
.core.night {
  background-image: url(Background/night.webp);
}

.core {
  text-align: center;

  .country {
    font-family: "Smooch", cursive;
  }

  input {
    font-family: cursive;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
    font-size: 1.5em;
    width: 80%;
    padding: 1em;
  }

  h1 {
    font-size: 3.5em;

    font-family: "Smooch", cursive;
  }

  .nestedSpans {
    font-size: 85%;
    display: block;
  }

  h1 {
    span {
      font-size: 40% !important;
      margin: 2.5% 0;
    }
  }
  .temp {
    span {
      font-family: cursive;
    }
    font-family: "Smooch", cursive;
  }
}
