body {
  background-color: rgb(173, 173, 173);
  color: whitesmoke;
}
.core {
  text-align: center;

  input {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
    font-size: 1.5em;
    width: 80%;
    padding: 1em;
  }

  h1 {
    font-size: 3.5em;
  }

  .nestedSpans {
    font-size: 85%;
    display: block;
  }

  h1 {
    span {
      font-size: 40% !important;
      margin: 2.5% 0;
    }
  }
}
