body.clearSky {
  background-image: url(WeatherStates/clearSky.jpg);
  background-size: 100% 130%;
}
body.heavyClouds {
  background-image: url(WeatherStates/heavyClouds.jpg);
  background-size: 200% 100%;
}
body.heavyRain {
  background-image: url(WeatherStates/heavyRain.jpg);
  background-size: 100% 100%;
}
body.lightClouds {
  background-image: url(WeatherStates/lightClouds.jpg);
  background-size: 200% 150%;
}

body.lightRain {
  background-image: url(WeatherStates/lightRain.jpg);
  background-size: 100% 100%;
}

body {
  background-image: url(Background/night.webp);
}
